Django==3.2.25
djangorestframework==3.14.0
mongoengine==0.29.1
pymongo==4.7.1
python-dotenv==1.0.0

# Auth / Tokens
PyJWT==2.8.0

# CORS (for React frontend)
django-cors-headers==4.3.1

# Production helpers (optional but recommended)
gunicorn==21.2.0
